@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="/libs/shariff/shariff.complete.js"></script>
}

<h2>Minimum buttons:</h2>
<div class="shariff"></div>

<h2>More advanced buttons:</h2>
<div class="shariff" data-backend-url="/API/" data-url="www.your-data-url.com" data-theme="grey" data-orientation="vertical"></div>

<!-- immediately before </body> -->

